{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <title>Admin Home</title>
</head>
<body>
    <div class="nav1">
        <div>
          <h3>IIT Indore</h3>
        </div>
  
        <div class="headings">
          <a href="{% url 'admin_index' %}" class="active">Home</a>
          <a href="{% url 'admin_requests' %}">Requests</a>
        </div>
          
          <div class="nav1-login">
              {% if user.is_authenticated %}
              <a href='{% url "logout" %}'>Logout</a>
              {% else %}
              <a href='{% url "login" %}'>Login</a>
              {% endif %}
          </div>
    </div>
  
      <!-- Responsive navbar -->
    <div class="navbar2">
          <div class="ham">
            <p><i class="fa-solid fa-bars"></i></p>
          </div>
          <div class="title">
            <a href="/" class="lo">
              <img src="" class="logo">
              <h3>IIT Indore</h3>
            </a>
        </div>
    </div>
    <div class="side-bar">
          <div id="close"><i class="fa-solid fa-xmark"></i></div>
          <ul>
              <li><a href="{% url 'admin_index' %}" class="active">Home</a></li>
              <a href="{% url 'admin_requests' %}">Requests</a>
              <li><div class="nav1-login">
                {% if user.is_authenticated %}
                <a href='{% url "logout" %}'>Logout</a>
                {% else %}
                <a href='{% url "login" %}'>Login</a>
                {% endif %}
              </div></li>
          </ul>
    </div>
    <footer>
        <div class="footer">
          <div class="info">
            <h4>IIT Indore</h4>
          </div>
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="rights">
            <p><i class="fa-solid fa-copyright"></i> Copyrights reserved.</p>
          </div>
        </div>
        
    </footer>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>