<html>
<body>
    <form action='https://test.payu.in/_payment' method='post'>
    <input type="hidden" name="key" value="SyLzQC" />
    <input type="hidden" name="txnid" value="12345" />
    <input type="hidden" name="productinfo" value="phone" />
    <input type="hidden" name="amount" value="1000" />
    <input type="hidden" name="email" value="test@gmail.com" />
    <input type="hidden" name="firstname" value="bharat" />
    <input type="hidden" name="lastname" value="" />
    <input type="hidden" name="surl" value="www.amazon.com" />
    <input type="hidden" name="furl" value="www.flipkart.com" />
    <input type="hidden" name="phone" value="6268760066"/>
    <input type="hidden" name="hash" value = "f1ba7420461f9e4ad7a5875fe3a1d10635e2f6468ca5b8d9584a5f7f1e32bf67ccadfd94ebbeffefbbf437b40ff1342aeb5575bdb4d19598e00659192f647873">
    <input type="submit" value="submit"> </form>
    </body>
    </html>